<section class="blog">
  <div class="container">
    <h2>{{ translationService.translate('blog.title') }}</h2>
    <div class="posts-grid">
      <div class="post-card" *ngFor="let post of posts">
        <h3>{{ post.title }}</h3>
        <p class="post-excerpt">{{ post.content | slice:0:150 }}...</p>
        <a href="#" (click)="openPost(post)" class="read-more">{{ translationService.translate('blog.readMore') }}</a>
      </div>
    </div>

    <div *ngIf="selectedPost" class="post-modal" (click)="closePost()">
      <div class="post-modal-content" (click)="$event.stopPropagation()">
        <h3>{{ selectedPost.title }}</h3>
        <p>{{ selectedPost.content }}</p>
        <button (click)="closePost()" class="close-button">X</button>
      </div>
    </div>
  </div>
</section>
